.searchBar {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}

.svgIcon {
	width: 2rem;
	height: 2rem;
	fill: $font-color-main;
}

.input {
	width: 100%;
	margin: 0 1.5rem;
	padding: 0.375rem 0.75rem;
	border-bottom: 2px solid #ddd;

	&::placeholder {
		font-size: 1.2rem;
		color: inherit;
	}
}

/*Transitions */

.appear,
.enter {
	opacity: 0;
}

.appearActive,
.enterActive {
	opacity: 1;
	transition: opacity 300ms;
}

.exitActive {
	opacity: 0;
	transition: opacity 300ms;
}

.exitDone {
	opacity: 0;
}
