@import '../../Configs/Variables';

$background-color: whitesmoke;
$header-color-top: theme-color('gamma');
$header-color-middle: theme-color('delta');
$header-color-bottom: theme-color('epsilon');
$chat-section-background: theme-color('delta');
$header-context-margin: 24px;
$svg-arrow-side: 1.5rem;
$svg-rect-side: 2rem;

@mixin chat-container-font {
  color: theme-color('gamma');
  font-weight: 600;
}

.Messages {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $background-color;
}

.Header {
  background: linear-gradient(
    180deg,
    rgba($header-color-top, 0.9) 41.67%,
    rgba($header-color-middle, 0.897348) 72.92%,
    rgba($header-color-bottom, 0.891) 100%
  );
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  height: 100px;
  display: flex;
  align-items: center;
}

.HeaderContent {
  color: $font-color-main;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 $header-context-margin;

  .HamburgerSvg {
    cursor: pointer;
    height: $svg-rect-side;
    width: $svg-rect-side;
  }
  .LookUpSvg {
    cursor: pointer;
    margin-left: auto;
    height: $svg-rect-side;
    width: $svg-rect-side;
  }

  h3 {
    display: inline-block;
    margin-left: 2.5rem;
    font-weight: 600;
    font-size: 1.25rem;
  }
}

.BackArrowSvg {
  cursor: pointer;
  margin-right: 24px;
  height: $svg-arrow-side;
  width: $svg-arrow-side;
}

.Input {
  &::placeholder {
    color: $font-color-main;
    opacity: 0.5;
  }
}

.EscIconContainer {
  width: 2rem;
  height: 2rem;
  position: relative;
  margin-left: 12px;
  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.HideMenu {
  transform: translateX(-100%);
  transition: all 300ms ease;
}

.ShowMenu {
  transform: translateX(0%);
  transition: all 300ms ease;
}

.BackDrop {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.ChatsContainer {
  flex: 1;
  @include chat-container-font;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 100px;
  row-gap: 2px;
}
