.messageArea {
	overflow-y: auto;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 1rem 0;
}

.message {
	margin: 0 10px 10px;

	&_leftCornered {
		align-self: flex-start;
	}

	&_selected {
		color: $font-color-main;
		background-color: gray;
	}
}

.middleBottomFloater {
	position: absolute;
	white-space: nowrap;
	bottom: 100px;
	left: 50%;
	transform: translate(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.newMessagePopUp {
	@extend .middleBottomFloater;

	padding: 1rem;
	animation: pulse 1s infinite alternate;

	svg {
		margin-left: 0.5rem;
	}
}

.foundSelector {
	@extend .middleBottomFloater;

	button {
		display: flex;
		align-items: center;
	}
}

.dateFloater {
	@extend .middleBottomFloater;
	bottom: auto;
	padding: 0.5rem;
}

.arrowSvg {
	height: 1rem;
	width: 1rem;

	path {
		fill: currentColor;
	}

	&_reverted {
		transform: rotate(180deg);
	}
}

.arrowBtn {
	margin: 0.5rem;
}

@keyframes pulse {
	from {
		transform: translate(-50%) scale(1);
	}
	to {
		transform: translate(-50%) scale(1.1);
	}
}

/*Transitions */

.appear,
.enter {
	opacity: 0;
}

.appearActive,
.enterActive {
	opacity: 1;
	transition: opacity 1s;
}

.exitActive {
	opacity: 0;
	transition: opacity 1s;
}

.exitDone {
	opacity: 0;
}
