@import '../../../Configs/Variables.module.scss';

.gradiendBlock {
	height: 40px;
	width: 150px;
	border-radius: 20px;
	background: linear-gradient(180deg, theme-color('epsilon') 20%, theme-color('zeta'));
	color: $font-color-main;
}
