@import '../../Configs/Variables.scss';
$chat-background: whitesmoke;

.Chat {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $chat-background;
}

.Avatar {
  margin-left: 11px;
}

.MessagePreview {
  flex: 1;
  margin-left: 20px;
  width: 0px;

  p {
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ContactName {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.1rem;
  }
}

.TimeSection {
  margin-right: 22px;
  width: 61px;
  text-align: center;
  font-size: 0.875rem;
}
