@import '../../Configs/Variables.scss';

$background-top-color: theme-color('gamma');
$background-middle-color: theme-color('delta');
$background-bottom-color: theme-color('epsilon');

.Menu {
  position: relative;
  color: $font-color-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 300px;
  height: 100vh;
  background: linear-gradient(
    180deg,
    $background-top-color 1.56%,
    $background-middle-color 39.06%,
    $background-bottom-color 100%
  );
  border-radius: 0px 20px 20px 0px;
}

.NameSection {
  margin-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;

  h3 {
    margin-left: auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .PencilSvgContainer {
    margin-left: 28px;
    margin-right: 15px;
    position: relative;
    right: 15px;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    cursor: pointer;

    svg {
      position: absolute;
      filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    }
  }
}
.Avatar {
  margin-top: 20px;
}

.OptionsSection {
  li {
    cursor: pointer;
    width: 100%;
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto 1fr;
    list-style: none;
  }
  div {
    position: relative;
    align-self: center;
    height: 1.5rem;
    width: 1.5rem;
    svg {
      position: absolute;
      filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    }
  }
  h4 {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: 600;
    margin-left: 14px;
    font-size: 1.4rem;
  }
}
