@import '../../Configs/Variables.scss';

$background-top-color: theme-color('gamma');
$background-middle-color: theme-color('delta');
$background-bottom-color: theme-color('epsilon');

.Menu {
  color: $font-color-main;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: min-content min-content 1fr;
  grid-template-areas:
    '. name pencil'
    '. avatar .'
    '. option .';
  justify-items: center;
  position: absolute;
  width: 280px;
  @include appHeight;
  background: linear-gradient(
    180deg,
    $background-top-color 1.56%,
    $background-middle-color 39.06%,
    $background-bottom-color 100%
  );
  border-radius: 0px 20px 20px 0px;
}

.NameSection {
  grid-area: name;
  align-self: center;

  margin-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;

  h3 {
    margin-left: auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .DispNameInput {
    &::placeholder {
      color: $font-color-main;
      opacity: 0.4;
    }
  }
}

.PencilTickSvgContainer {
  grid-area: pencil;
  align-self: center;
  margin-top: 28px;

  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  position: relative;
  svg {
    position: absolute;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  }
}

.Avatar {
  user-select: none;
  grid-column: 2/3;
  margin-top: 30px;
}

.OptionsSection {
  grid-column: 2/3;

  li {
    cursor: pointer;
    width: 100%;
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto 1fr;
    list-style: none;
  }
  div {
    position: relative;
    align-self: center;
    height: 1.5rem;
    width: 1.5rem;
    svg {
      position: absolute;
      filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    }
  }
  h4 {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: 600;
    margin-left: 14px;
    font-size: 1.4rem;
  }
}
