@import '../../../../Configs/Variables.module.scss';

.svgIcon {
	width: 2rem;
	height: 2rem;
	fill: $font-color-main;
}

.avatar {
	width: 65px;
	margin-left: 2.5rem;
}

.title {
	margin-left: 1rem;
}

.rightBtn {
	margin-left: auto;
}
