.Avatar {
  position: relative;
  color: whitesmoke;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Username {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.ElipseSvg {
  position: absolute;
  top: 0;
  left: 0;
}
