@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$ff-main: 'Open Sans', sans-serif;
$font-color-main : whitesmoke;
$theme-colors: (
  'alpha': (
    'basic': #222831,
  ),
  'beta': (
    'basic': #404352,
  ),
  'gamma': (
    'basic': #645f74,
  ),
  'delta': (
    'basic': #8d7c95,
  ),
  'epsilon': (
    'basic': #ba9ab4,
  ),
  'zeta': (
    'basic': #e9b9d1,
  ),
);

$breakpoints: (
  'mobile': 600px,
  'tablet': 900px,
  'desktop': 1200px,
);

@function theme-color($key: 'primary', $variant: 'basic') {
  $map: map-get($theme-colors, $key);
  @return map-get($map, $variant);
}

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Please make sure it is defined in `$breakpoints` map.";
  }
}

:export {
  breakpoints : {
    tablet: map-get($breakpoints, 'tablet');
    mobile: map-get($breakpoints, 'mobile');
    desktop: map-get($breakpoints, 'desktop');
  }
}
