@import '../../../../Configs/Variables.scss';

$btn-bassic-color: theme-color('beta');

.Button {
  font-family: $ff-secondary;
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
  white-space: nowrap;
  background-color: $btn-bassic-color;
  color: $font-color-main;
  cursor: pointer;
  border: none;
  padding: 0.375rem 1.5rem;
  border-radius: 30px;
}
