$backgroung-color: theme-color('background');

.backdrop {
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	background-color: $backgroung-color;
}

.mainPlaner {
	position: absolute;
	width: 200%;
	left: 40%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
}
