@import '../../Configs/Variables.module';

$svg-arrow-side: 1.5rem;
$svg-rect-side: 2rem;

.SearchTab {
	display: flex;
	flex-basis: 100%;
	align-items: center;
}

.BackArrowSvg {
	cursor: pointer;
	margin-right: 24px;
	height: $svg-arrow-side;
	width: $svg-arrow-side;
}

.Input {
	&::placeholder {
		color: $font-color-main;
		opacity: 0.5;
	}
}

.EscIconContainer {
	width: 2rem;
	height: 2rem;
	position: relative;
	margin-left: 12px;
	svg {
		cursor: pointer;

		position: absolute;
		top: 0;
		left: 0;
	}
}
