$wrong-inpuit-background-color: theme-color('epsilon');
$component-background-clr: theme-color('background');
$input-color: $font-color-main;
$input-placeholder-clr: $font-color-main;
$signUp-link-color: theme-color('beta');
$wrong-input-color: theme-color('alpha');

.loginPage {
	z-index: 2;
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.header {
	margin-top: 40%;
	margin-bottom: 5%;
	font-size: 2.8rem;
	color: $font-color-main;
}

.subHeader {
	color: $font-color-main;
	font-size: 1.5rem;
	font-weight: normal;
}

.form {
	max-width: 320px;
	margin-top: 20%;
	display: flex;
	flex-direction: column;
}

.formIcon {
	width: 2rem;
	height: 2rem;
	color: $input-color;
}

.loginBtn.loginBtn {
	margin-top: 25%;
	font-size: 1.625rem;
	height: 63px;
	font-weight: 600;
	font-family: $ff-main;
	width: 100%;
}

.spinner {
	margin-top: 25%;
	height: 63px;
}

.label {
	display: flex;
	padding: 0.4rem;
	gap: 1rem;
	border-bottom: 1px solid $input-color;
	position: relative;

	&:not(:first-of-type) {
		margin-top: 1rem;
	}
}

.validationError {
	position: absolute;
	background-color: $wrong-inpuit-background-color;
	border-radius: 7px;
	color: $wrong-input-color;
	font-weight: 700;
	left: 50%;
	bottom: 0;
	transform: translateY(125%) translateX(-50%);
	word-wrap: break-word;
	max-width: 100%;
	width: max-content;
	padding: 0.5rem;
	font-size: 0.9rem;
	text-align: center;
	z-index: 2;
}

.checkboxLabel {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	gap: 0.5rem;
	margin-top: 3rem;
	color: $font-color-main;
	font-weight: 500;
	font-size: 0.9rem;
}

.toSignupBtn {
	border: none;
	background: none;
	font: inherit;
	cursor: pointer;
	margin-top: auto;
	margin-bottom: 40px;
	font-weight: 600;
	color: $signUp-link-color;
}

/*Transitions */

.appear,
.enter {
	opacity: 0;

	.form,
	.toSignupBtn {
		opacity: 0;
	}
	[data-name='main-planet'] {
		transform: translateY(0) translateX(0) scale(0.2);
	}
}

.appearActive,
.enterActive {
	opacity: 1;
	transition: opacity 1s;

	.form,
	.header,
	.subHeader,
	.toSignupBtn {
		opacity: 1;
		transition: opacity 1s 1s;
	}
	[data-name='main-planet'] {
		animation: mainPlanetMove 1.8s 200ms forwards;
	}
}

.appearDone,
.enterDone {
	[data-name='main-planet'] {
		transform: translateY(-50%) translateX(-22%);
	}
}

.exit {
	[data-name='main-planet'] {
		transform: translateY(-50%) translateX(-22%);
	}
}

.exitActive {
	.form,
	.header,
	.subHeader,
	.toSignupBtn {
		opacity: 0;
		transition: opacity 1s;
	}
	[data-name='main-planet'] {
		animation: mainPlanetLeave 1s;
	}
}

.exitDone {
	.form,
	.header,
	.subHeader,
	.toSignupBtn {
		opacity: 0;
	}

	[data-name='main-planet'] {
		transform: translateY(-50%) translateX(122%);
	}
}

@keyframes mainPlanetMove {
	from {
		transform: translateY(0) translateX(0) scale(0.2);
	}
	to {
		transform: translateY(-50%) translateX(-22%) scale(1);
	}
}

@keyframes mainPlanetLeave {
	from {
		transform: translateY(-50%) translateX(-22%);
	}
	to {
		transform: translateY(-50%) translateX(122%);
	}
}
