@import '../../Configs/Variables.scss';
$chat-background: whitesmoke;
$contact-box-shadow-color: theme-color('delta');

.Contact {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $chat-background;
  box-shadow: 0 1px 1px 0 $contact-box-shadow-color;
}

.Avatar {
  margin-left: 11px;
}

.NameSection {
  flex: 1;
  margin-left: 20px;
  width: 0px;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .DisplayedName {
    font-size: 1.2rem;
  }
}
