@import '../../Configs/Variables.scss';
$background-color: theme-color('background');

.Loading {
  position: relative;
  @include appHeight;
  background: $background-color;
  width: 100%;
  overflow: hidden;
  // animation: generalScaling 10s infinite alternate;
}

.MainPlanetContainer {
  position: absolute;
  width: 120%;
  min-width: 320px;
  left: -3%;
  top: 10%;
  animation: MainPlanetMove 10s infinite alternate;
}

.MiddlePlanetContainer {
  position: absolute;
  width: 30%;
  left: 10%;
  top: 30%;
  animation: MIddlePlanetMove 6s infinite alternate;
}

.RingContainer {
  position: absolute;
  width: 40%;
  min-width: 200px;
  top: 2%;
  left: 55%;
  transform-origin: center;
  animation: RingSpinning 30s infinite alternate;
}

.SmallPlanetContainer {
  position: absolute;
  width: 17%;
  top: 60%;
  left: 22%;
  animation: SmallPlanetMove 7s infinite alternate;
}

.TinyPlanetContainer {
  position: absolute;
  width: 5%;
  left: 75%;
  top: 10%;
}

.LoadingPhrase {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $font-color-main;
  font-size: 3.5rem;
}

@keyframes MainPlanetMove {
  from {
    transform: translateY(0) translateX(0);
  }
  to {
    transform: translateY(5%) translateX(1%);
  }
}

@keyframes MIddlePlanetMove {
  from {
    transform: translateY(0) translateX(0);
  }
  to {
    transform: translateY(-10%) translateX(50%);
  }
}

@keyframes RingSpinning {
  from {
    transform: rotate(0) translateX(0);
  }
  to {
    transform: rotate(360deg) translateX(5%);
  }
}

@keyframes SmallPlanetMove {
  from {
    transform: translateY(0) translateX(0);
  }
  to {
    transform: translateY(30%) translateX(150%) scale(1.5);
  }
}
