@import '../../Configs/Variables';

$header-color-top: theme-color('gamma');
$header-color-middle: theme-color('delta');
$header-color-bottom: theme-color('epsilon');
$chat-section-background: theme-color('background');
$svg-rect-side: 2rem;
@mixin chat-container-font {
  color: theme-color('gamma');
  font-weight: 600;
}

.FindContact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Header {
  background: linear-gradient(
    180deg,
    rgba($header-color-top, 0.9) 41.67%,
    rgba($header-color-middle, 0.897348) 72.92%,
    rgba($header-color-bottom, 0.891) 100%
  );
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  height: 100px;
  display: flex;
  align-items: center;
}

.HeaderContent {
  color: $font-color-main;
  width: 100%;
  display: flex;
  align-items: center;

  .SearchInput {
    &::placeholder {
      color: rgba($color: $font-color-main, $alpha: 0.8);
    }
  }
  .BackArrowSvg {
    cursor: pointer;
    margin-right: 20px;
    height: $svg-rect-side;
    width: $svg-rect-side;
  }
  .CircularSpinnerSvg {
    margin-left: 20px;
    height: $svg-rect-side;
    width: $svg-rect-side;
  }
  .LookUpSvg {
    cursor: pointer;
    margin-left: 20px;
    height: $svg-rect-side;
    width: $svg-rect-side;
  }
  margin: 0 2rem;

  h3 {
    display: inline-block;
    margin-left: 2.5rem;
    font-weight: 600;
    font-size: 1.25rem;
  }
}

.ChatsContainer {
  flex: 1;
  @include chat-container-font;
  background-color: rgba($chat-section-background, 0.5);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 100px;
  row-gap: 2px;
}

:global {
  /* This fires as soon as the element enters the DOM */
  .list-transition-enter {
    opacity: 0;
  }
  /* This is where we can add the transition*/
  .list-transition-enter-active {
    opacity: 0.5;
    transition: all 400ms;
  }
  /* This is when element rendered in the dome*/
  .list-transition-enter-active {
    opacity: 1;
  }
  /* This fires as soon as the this.state.showList is false */
  .list-transition-exit {
    transition: all 400ms;
    opacity: 1;
  }
  /* fires as element leaves the DOM*/
  .list-transition-exit-active {
    opacity: 0;
  }
}
