@import 'normalize.css';
@import './Configs/Variables.module.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}

input::placeholder {
	opacity: 0.7;
}

ul {
	list-style-type: none;
}

$main-background-clr: theme-color('background');

.App {
	font-family: $ff-main;
	background-color: $main-background-clr;
	@include appHeight;
}

.mobileRestrainer {
	@include appHeight;

	background: linear-gradient(to bottom, #2c3e50, #bdc3c7);

	& > * {
		// mobile view restrainer remove lines below after adding desktop
		// background-color: $font-color-main;
		max-width: 600px;
		min-width: 320px;
		margin: auto;
		overflow: hidden;
	}
}
