@import './Configs/Variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: $ff-main;

  // mobile view restrainer remove lines below after adding desktop
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

// mobile view restrainer remove lines below after adding desktop
.modileRestrainer {
  height: 100vh;
  background: linear-gradient(to bottom, #2c3e50, #bdc3c7);
}
