@import '../../../../Configs/Variables.scss';

$backgroung-color: theme-color('background');

.Backdrop {
  z-index: -1;
  position: absolute;
  min-height: 100vh;

  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: $backgroung-color;
}

.MainPlanetContainer {
  position: absolute;
  width: 130vh;
  min-width: 1000px;
  left: 50%;
  top: 50%;
}

/* TRANSITIONS */

.appear,
.enter {
  opacity: 0;
  .MainPlanetContainer {
    transform: translate3d(0, 0, 0) scale(0.2);
  }
}

.appearActive,
.enterActive {
  opacity: 1;
  transition: opacity 1s;
  .MainPlanetContainer {
    transform: translate3d(-22%, -50%, 0) scale(1);
    transition: transform 2s;
  }
}

.appearDone,
.enterDone {
  .MainPlanetContainer {
    transform: translate3d(-22%, -50%, 0);
  }
}

.exit {
  .MainPlanetContainer {
    transform: translate3d(-22%, -50%, 0);
  }
}

.exitActive {
  .MainPlanetContainer {
    transform: translate3d(-22%, -50%, 0) translateX(100%);
    transition: all 1s;
  }
}

.exitDone {
  .MainPlanetContainer {
    transform: translate3d(-22%, -50%, 0) translateX(100%);
  }
}
